<div class="container">
  <div>
    <h4>SBNA Committees</h4>
    <div>
      Committes consist of board-appointed chairperson and volunteer assistants.
    </div>
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header active">
          <h5>Membership</h5>
        </div>
        <div class="collapsible-body">
          <p>
            The first friendly face new-comers see at meetings, this committee provides information about SBNA at events throughout the year.  Chair-person or a representative is present at all membership meetings to sign up new members.  The committee coordinates outreach to the neighborhood for membership renewal including the annual membership drive in September. Also maintains membership database and email membership list.
            <br>
            <br>
            Current Chair: Claire Dargan
            <br>
            <a href="mailto:membership@stbotolph.org">Contact via email.</a>
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <h5>Communications</h5>
        </div>
        <div class="collapsible-body">
          <p>
            This committee supports effective communications that informs, influences and inspires current members. Ensures SBNA branding is consistent across all SBNA communications. Sends electronic member communications and coordinates with other committees to provide templates for non-electronic member communications (including flyers, bulletin board, and letters/postcards). Works with the Clerk to create and maintain/update SBNA website.
            <br>
            <br>
            Current Chair: Claire Dargan
            <br>
            <a href="mailto:info@stbotolph.org">Contact via email.</a>
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <h5>Events</h5>
        </div>
        <div class="collapsible-body">
          <p>
            This committee is in charge of planning and implementing social events for the neighborhood. This includes conceptualizing the event idea, publicizing the event, planning the details of the event, orchestrating the actual event, and coordinating volunteers to help with all of these tasks.
            <br>
            <br>
            Current Chair: Lorraine Steele
            <br>
            <a href="mailto:events@stbotolph.org">Contact via email.</a>
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <h5>SBNA Architectural Review</h5>
        </div>
        <div class="collapsible-body">
          <p>
            SBNA Architectural Review Committee provides advisory (non-binding) input to the City's Landmarks and Zoning Appeals agencies on the appropriateness of proposed real estate projects within the SBNA area.  The Committee attempts to take a full neighborhood perspective while acknowledging a project's impacts on immediate abutters.  When requested, the Committee performs a design review to assess whether a project's visible and non-visible alterations or additions comply with Landmark's Standards and Criteria for the St. Botolph Street Architectural Conservation District. The Committee also considers the project's (a) height and scale relative to other neighborhood structures; (b) effect on the neighborhood's residential character; and (c) impacts on population density, traffic congestion and parking demand.  When requested, the Committee will issue a letter on behalf of the SBNA stating its position on a proposed project. Time commitment varies depending on the number and complexity of ongoing projects. There is a three-year residency requirement for Committee members and at least one member must be an owner-occupant who owns no more than 3 properties within the district. Architecture, architectural history, historic preservation, or construction expertise are desired.
            <br>
            <br>
            Current Chair: Lee Steele
            <br>
            <a href="mailto:info@stbotolph.org">Contact via email.</a>
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <h5>Streetscape / Neighborhood Improvements / Cleanup</h5>
        </div>
        <div class="collapsible-body">
          <p>
            This committee serves as an intermediary between the St. Botolph Neighborhood Association (SBNA) and key city departments (e.g., Engineering and Planning, Neighborhood Relations, Public Works, and Parks and Recreation) in matters relating to city sponsored large-scale capital improvement projects. Committee members work to ensure that needs and concerns of the neighborhood streetscape are heard by the appropriate City departments, appropriate action is taken, and outcomes are communicated back to the SBNA. Organizes a spring cleanup for the neighborhood. Secures City of Boston DPW and BTD assistance for the day of cleanup. Designs and distributes flyer one-week prior and twice the week of event. Arranges off street parking for the day of the event. Coordinates foods for the day of cleanup.
            <br>
            <br>
            Current Chair: Claire Dargan
            <br>
            <a href="mailto:info@stbotolph.org">Contact via email.</a>
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <h5>Safety</h5>
        </div>
        <div class="collapsible-body">
          <p>
            This committee serves as a liaison between law enforcement and the Saint Botolph community and builds a network to disseminate information concerning current criminal activity and specific actions the community and individuals can take to avoid becoming victims of a crime. Disseminates information such as crime prevention and reporting tips, crime trends and educational opportunities related to crime prevention.
            <br>
            <br>
            Current Chair:
            <br>
            <a href="mailto:info@stbotolph.org">Contact via email.</a>
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
