Hello <%= @user.fullname %>,
<p>
Thank you for registering to SBNA and becoming a part of our neighborhood!
Please take a look at our events and sign up for them!
We strive to make our community closer, better, and safer.
</p>

Sincerely,
  SBNA Board of Directors
