<div class="row">
  <%= form_for(@attendee) do |f| %>
    <div class="input-field col s12">
        <input disabled value="I am not editable" id="disabled" type="text" class="validate">
        <label for="disabled">Disabled</label>
    </div>
    <div class="input-field col s12">
        <input disabled value="I am not editable" id="disabled" type="text" class="validate">
        <label for="disabled">Disabled</label>
    </div>
    <div class="actions col s12">
      <%= f.submit "Submit", class: "btn right" %>
    </div>

  <% end %>
</div>
