/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    font-size: 20px;
    html, body { height: 100%;  }
}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  html, body { height: 100%;  }
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  html, body { height: 100%;  }

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    html, body { height: 100%;  }
    html {
      font-size: 20px;
    }
    body {
      font-size: 22px;
      a.navside {
        font-size: 23px;
      }
      .event-info h5 {
        font-size: 23px;
      }

      #new_guest_list label {
        font-size: 23px;
      }
      #new_guest_list input {
        font-size: 25px;
      }
      .toast {
        font-size: 27px;
      }
    }
}

/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    html, body { height: 100%;  }
    html {
      font-size: 20px;
    }
    body {
      font-size: 23px;
      a.navside {
        font-size: 23px;
      }
      .event-info h5 {
        font-size: 23px;
      }

      #new_guest_list label {
        font-size: 23px;
      }
      #new_guest_list input {
        font-size: 25px;
      }
      .toast {
        font-size: 27px;
      }
    }
}
