div.col.s3.infocolumn{
  padding: 0px;
  height: 100%;
  background-color: #922429;
  ul.userdata {
    padding: 0px;
    color: white
  }
}

.pagination {
  background-color: #922429;
}
img.col.s12.show-image {
  padding: 0px;
}
div.eventdata {
  padding: 0px;
  background-color: lightgray;
  height: 100%;
}
html, body { height: 100%; overflow: auto;  }
div.row.ushershow {
  background-color: lightgrey;
  height: 100vh;
}
